/* RUTA: frontend-clinica/src/app/panel-control/paginas/gestion-configuracion/gestion-configuracion.css */
.config-options {
  padding: 16px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}