<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center fw-bold" routerLink="/">
      <img src="https://placehold.co/40x40/3498db/ffffff?text=CB" alt="Logo" class="d-inline-block align-text-top me-2 rounded-circle">
      ClínicaBienestar
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="usuarioLogueado() && authService.rolUsuario() === 'PACIENTE'">
          <a class="nav-link" routerLink="/portal/agendar-cita">Agendar Cita</a>
        </li>
        <li class="nav-item" *ngIf="usuarioLogueado() && authService.rolUsuario() === 'PACIENTE'">
          <a class="nav-link" routerLink="/portal/mis-citas">Mis Citas</a>
        </li>

        <li class="nav-item" *ngIf="usuarioLogueado() && authService.rolUsuario() !== 'PACIENTE'">
          <a class="nav-link" routerLink="/panel/inicio">Panel de Control</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <a *ngIf="!usuarioLogueado()" routerLink="/login" class="btn btn-outline-primary me-2 d-flex align-items-center">
          <i class="bi bi-box-arrow-in-right me-1"></i> Iniciar Sesión
        </a>

        <div *ngIf="usuarioLogueado()" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle me-2"></i> Mi Cuenta
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserMenu">
            <li>
              <a class="dropdown-item" [routerLink]="authService.rolUsuario() === 'PACIENTE' ? '/portal/mi-perfil' : '/panel/mi-perfil'">
                Mi Perfil
              </a>
            </li>
            <li *ngIf="authService.rolUsuario() === 'PACIENTE'"><a class="dropdown-item" routerLink="/portal/mi-historial">Mi Historial Clínico</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>